<!DOCTYPE html>
<html>
	<head>
		<title>Add new activity</title>
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:600" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<div class="login-field">
			<% if (!user) {%>
				<h4 onclick="loginPage()">Log In</h4>
			<% } else { %>
				<h4 id="hi">Hi, <%=user%></h4>
				<h4 onclick="logoutPage()">Log Out</h4>
			<%}%>
		</div>

		<%- include layouts/header.ejs %>

		<button class="back-btn" onclick="cancelAdd();"><-</button>
		
		<%if (!success) {
			if (errors) { %>
				<section class="errors">
					<ul>
						<% errors.forEach(function(element) {%>
					    <li><%= element.msg %></li>
						<% }); %>
					</ul>
				</section>
		<% }} 
		else{%>
			<section class="success">
					<ul>
					    <li>New activity added!</li>
					</ul>
				</section>
		<%}%>

		

		<div class="input-container">
			<form id="add-form" enctype="multipart/form-data" method="POST">

				<label for="title">Title</label>
				<div class="input-div">
					<input class="input-tag" type="text" name="title" placeholder="Title...">
				</div>

				<label for="category">Category</label>
				<div class="input-div">
					<select class="input-tag" name="categoryid">
						<option value="">Choose category</option>
						<% if (cData.length) {
							for (var i = 0 ; i < cData.length ; i++ ) { %>
								<option value="<%=cData[i].CategoryID%>"><%=cData[i].CategoryName%></option>
							<%}
						}
						else { %>
							<p>No categories found!</p>
						<% } %>
					</select>
				</div>

				<label for="activity">Activity</label>
				<div class="input-div">
					<textarea class="input-tag-text" name="content" placeholder="Activity..."></textarea>
				</div>
				
				<label for="image">Image</label>
				<div class="input-div">
					<input type="file" name="image" accept="image/jpeg, image/png" required>
				</div>

				<div class="button-div">
					<button id="save-btn" type="submit">Save</button>
				</div>
				
			</form>
		</div>

		<%- include layouts/footer.ejs %>

		<script src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>

	</body>
</html>