<!DOCTYPE html>
<html>
	<head>
		<title>Edit activity</title>
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:600" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>
	<body>
		<div class="login-field">
			<% if (!user) {%>
				<h4 onclick="loginPage()">Log In</h4>
			<% } else { %>
				<h4 id="hi">Hi, <%=user%></h4>
				<h4 onclick="logoutPage()">Log Out</h4>
			<%}%>
		</div>

		<%- include layouts/header.ejs %>

		<button class="back-btn" onclick="cancelAdd();"><-</button>

		<%if (!success) {
			if (errors) { %>
				<section class="errors">
					<ul>
						<% errors.forEach(function(element) {%>
					    <li><%= element.msg %></li>
						<% }); %>
					</ul>
				</section>
		<% }}
		else{%>
			<section class="success">
					<ul>
					    <li>Your activity is updated!</li>
					</ul>
				</section>
		<%}%>

		<div class="input-container">
			<form id="change-form" method="POST">
				
				<label for="title">Title</label>
				<div class="input-div">
					<input class="input-tag" type="text" name="title" value="<%=data[0].Title%>">
				</div>
				
				<label for="category">Category</label>
				<div class="input-div">
					<select class="input-tag" name="categoryid">
						<% if (cData.length) {

							for (var i = 0 ; i < cData.length ; i++ ) { 
								if (data[0].CategoryID == cData[i].CategoryID) {%>
									<option value="<%=cData[i].CategoryID%>" selected><%=cData[i].CategoryName%></option>
								<%}
								else {%>
								<option value="<%=cData[i].CategoryID%>"><%=cData[i].CategoryName%></option>
								<%}
							}
						}
						else { %>
							<p>No categories found!</p>
						<% } %>
					</select>
				</div>
				
				<label for="activity">Activity</label>
				<div class="input-div">
					<textarea class="input-tag-text" name="content" value="<%=data[0].Content%>"><%=data[0].Content%></textarea>
				</div>

				<label for="image">Image (not possible to edit right now)</label>
				<div class="input-div">
					<div class="input-tag"><%=data[0].ImageName%></div>
				</div>

				<div class="button-div">
					<button id="save-btn" type="submit">Save</button>
				</div>
				
			</form>
		</div>

		<%- include layouts/footer.ejs %>

		<script src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../js/script.js"></script>

	</body>
</html>