<!DOCTYPE html>
<html>
	<head>
		<title>To do in Seoul</title>
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:600" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<!-- <link rel="stylesheet" type="text/css" href="css/sweetalert.css"> -->

		<!-- <script src="http://localhost:3000/livereload.js?snipver=1"></script> -->
	</head>
	<body>
		<div class="login-field">
			<% if (!user) {%>
				<h4 onclick="loginPage()">Log In</h4>
			<% } else { %>
				<h4 id="hi">Hi, <%=user%></h4>
				<h4 onclick="logoutPage()">Log Out</h4>
			<%}%>
		</div>

		<%- include layouts/header.ejs %>
		
		<% if (user) {%>
			<button class="add-new-activity-btn" onclick="addNewActivity();">+</button>	
		<%}%>

		<!-- Sökningsformulär -->
		<div id="search-form">
			<form id="search" role="form" method="POST">
				<div class="input-div">
					<label for="search"></label>
					<input id="select-search" type="text" name="search" placeholder="Search Activity..." required>
				</div>
				<!-- Sökning görs på entertangent -->
				<div id="search-button-div">
					<input type="submit" value="Sök" class="filter-btn">
				</div>
			</form>
		</div>

		<section class="filter">
			
			<!-- Filter allt -->
			<form role="form" method="POST">
				<div class="input-div">
					<p><input type="checkbox" name="filter" value="all" onchange="this.form.submit()"><em>All</em></p>
				</div>
			</form> 

			<!-- Filter mat och dryck -->
			<form role="form" method="POST">
				<div class="input-div">
					<p><input type="checkbox" name="filter" value="1" onchange="this.form.submit()"><em>Food and drinks</em></p>
				</div>
			</form> 

			<!-- Filter sevärdheter -->
			<form role="form" method="POST">
				<div class="input-div">
					<p><input type="checkbox" name="filter" value="2" onchange="this.form.submit()"><em>Sightseeing</em></p>
				</div>
			</form> 

			<!-- Filter shopping -->
			<form role="form" method="POST">
				<div class="input-div">
					<p><input type="checkbox" name="filter" value="3" onchange="this.form.submit()"><em>Shopping</em></p>
				</div>
			</form> 

			<!-- Filter övrigt -->
			<form role="form" method="POST">
				<div class="input-div">
					<p><input type="checkbox" name="filter" value="4" onchange="this.form.submit()"><em>Other</em></p>
				</div>
			</form> 

			<!-- Filter avklarat -->
			<form role="form" method="POST">
				<div class="input-div">
					<p><input type="checkbox" name="filter" value="5" onchange="this.form.submit()"><em>Done</em></p>
				</div>
			</form>      
		
		</section>

		<section class="activity-section">
			<% if (data.length) { 
				for (var i = 0 ; i < data.length ; i++ ) { %>
					<div class="container">
						<div class="img">image</div>
						<div class="text">
							<h2><%=data[i].Title%></h2>
							<p><%=data[i].Content%></p>
						</div>
						<%if (user) { %>
							<button class="change-btn" onclick="editActivity(<%=data[i].ActivityID%>);">
								Edit
							</button>
							<button class="delete-btn" onclick="deleteActivity(<%=data[i].ActivityID%>);">
								Delete
							</button>
						<%}%>
					</div>
				<% }
	    }

	    else { %>
	    <p>Oops, no activities found!</p>
	    <% } %>
    </section>

		<%- include layouts/footer.ejs %>

		<script src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>

	</body>
</html>